.firstParagrah{
    width: 100%;
    margin-top: 25px;
}
.textContainer{
    position: relative;
    left: 30px;
    padding-right: 30px;
    width: 55%;
    text-align: justify;
     line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}
* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.titleBox input[type=text] {
    size:50;
    padding: 8px;
    width: 450px;
    margin-left: 30px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid;
  }
.titleBox input:focus {
    outline: none;
}
.titleBox label[for="title"] {
    position: relative;
    margin-left: 30px;
    padding-right: 30px;
    width: 55%;
    text-align: justify;
     line-height: 50px;
    font-size: 20px;
}
.picInput input[type="file"] {
    width: 500px;
    border: 2px solid #8ABD96;
    margin-left: 20px;
    margin:20px; 
	padding: 100px; 
    background-color: white;
}
.picInput label[for="choose a fil"]{
    position: relative;
    left: 20px;
    padding-top: 20px;
    width: 55%;
    text-align: justify;
     line-height: 50px;
    font-size: 20px;
}

.selectBox select[name="categories"] {
    position: relative;
    margin-left: 30px;
    padding: 8px;
    width: 450px;
    margin-top: 8px;
    text-align: justify;
     line-height: 50px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    
}
.selectBox label[for="categories"] {
    position: relative;
    margin-left: 30px;
    padding-right: 30px;
    width: 55%;
    text-align: justify;
     line-height: 50px;
    font-size: 20px;
}
.textBox textarea[name="boxText"]{
    width: 500px;
    border: 2px solid #8ABD96;
    padding: 50px;
    margin-left: 20px;
    outline: none;
}
.textBox label[for="choose a fil"]{
    position: relative;
    left: 20px;
    padding-top: 20px;
    width: 55%;
    text-align: justify;
     line-height: 50px;
    font-size: 20px;
}


.radioMark label[for="availabilitytext"] {
    position: relative;
    margin-left: 30px;
    padding-top: 20px;
    width: 55%;
    text-align: justify;
     line-height: 50px;
    font-size: 20px;
}
.radioMark label[for="availability"] {
    position: relative;
    margin-left: 30px;
}
.radioMark input[type="radio"] {
    text-align: justify;
    line-height: 50px;
    font-size: 20px;
    position: relative;
    left: 30px;
}

.radioMark textarea[id="boxText"]{
    position: relative;
    left: 550px;
    padding: 8px;
    width: 450px;
    margin-top: 8px;
    text-align: justify;
     line-height: 50px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
}

.radioMark label[for="allergies"]{
    position: relative;
    margin-left: 30px;
    padding-right: 30px;
    width: 55%;
    text-align: justify;
     line-height: 50px;
    font-size: 20px;
}

.radioMark input[type=text]{
    size:50;
    padding: 8px;
    width: 450px;
    margin-left: 30px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
}
.uploadButton button[type="button"]{
    position: relative;
    margin-top: 25px;
    margin-left: 30px;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid green;
    outline: none;
    font-size: 15px;
    background-color: #8ABD96;
}