.textOnPage{
    font-size: 23px;
    margin-left: 32px;
    padding-top: 10px;
}

.informationOnPage{
    font-size: 20px;
    margin-left: 32px;
    padding-top: 10px;
    font-weight: bold;
}

#personDetailsDiv{
    max-width: 100%;
}

.aPersonsDeatilDiv{
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
    margin: 5px;
}

