.firstParagrah{
    width: 100%;
    margin-top: 25px;
}

.firstParagrah > div{
    display: table-cell;
    vertical-align: middle;
}

.ImageContainer{
    width: 45%;
    text-align: center;
}

.ImageContainer img{
    width: 80%;
    border: 2px solid;
}

.textContainer{
    position: relative;
    left: -17px;
    padding-right: 20px;
    width: 55%;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}

#pageTitle{
    margin-left: 60px;
    font-size: 30px;
}



