.titleText{
    margin-left: 30px;
    margin-top: 40px;
}

.firstInformation{
    margin-left: 30px;
    margin-top: 50px;
}

.sceondInformation{
    margin-left: 30px;
    margin-top: 50px;
}

input{
    margin-left: 10px;
}

.confirmButton{
    margin-left: 30px;
    margin-top: 30px;
    padding: 7px 25px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.thridInformation{
    margin-left: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.ekstraInfo{
    font-size: 12px;
    margin-left: 30px;
    padding-top: 5px;
    font-weight: bold;
    font-style: italic;
}

.informationBox{
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
 }